@use '~styles/mixins' as mix;
@use '~styles/var';

$gap-sml: .8rem;
$gap: 1.2rem;
$border-radius: 5px;

.about {
  @include mix.container;
  min-height: 66vh;
  margin: 4rem auto;
  & h1 {
    @include mix.h3;
    margin-bottom: 1rem;
  }
  & h2 {
    @include mix.h3;
    margin-bottom: 2rem;
  }
  & h3 {
    @include mix.h5;
    margin: 3rem 0 1.5rem;
  }
  & p {
    @include mix.p;
    margin-bottom: 1rem;
  }
  ul {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }
  & .links {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  & .presentation {
    margin: 3rem 0;
    & .intro {
      $quote-margin: .7rem;
      @include mix.p;
      margin-bottom: $gap;
      padding: $gap $gap calc($gap - $quote-margin);
      & div {
        margin-bottom: $quote-margin;
      }
      & span {
        font-style: italic;
      }}}
  @include mix.breakpoint('tablet') {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }}
  @include mix.breakpoint('laptop') {
    ul {
      grid-template-columns: repeat(3, 1fr);
    }}
  @include mix.breakpoint('desktop') {
    ul {
      grid-template-columns: repeat(4, 1fr);
    }}}

.contributors {
  text-align: left;
  margin-bottom: 1rem;
  & .card {
    background-color: var.$secondary-background;
    border-radius: $border-radius;
    padding: $gap;
    display: flex;
    flex-direction: column;
    gap: $gap;
    & .col {
      list-style-type:disc;
      display: flex;
      flex-direction: column;
      gap: $gap-sml;
    }
    & .row {
      display: flex;
      justify-content: space-between;
      &--links {
        gap: $gap-sml;
        justify-content: unset;
      }}
    & .pseudo {
      font-size: .8rem;
      font-style: italic;
      margin-top: -.7rem;
    }
    & strong {
      font-weight: 500;
    }
    & em {
      color: var.$primary;
    }
    & li {
      margin-bottom: .2rem;
      margin-left: 1rem;
    }
    & img {
      $size: 100px;
      width: $size;
      height: $size;
    }
    & a svg {
      width: 20px;
      fill: var.$white;
      transition: .3s;
      &:hover {
        fill: var.$primary;
      }}}}