@use '~styles/mixins' as mix;

.films {
  @include mix.container;
}
.loader-wrapper {
  position: absolute;
  right: 0; left: 0; 
  margin-top: 8rem;
  display: flex;
  justify-content: center;
}
.button {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}
.grid {
  display: grid;
  gap: .5em;
  grid-template-columns: repeat(3, minmax(115px, 1fr));
  margin-bottom: 2.5rem;
  min-height: 5em;
}
.poster {
  border-radius: 10px;
  opacity: 0;
  transition: .3s;
}
.img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  border-radius: 10px;
}
.hidden {
  display: none;
}

@media screen and (max-width: 420px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }}
@include mix.breakpoint('tablet') {
  .grid {
    grid-template-columns: repeat(4, minmax(175px, 1fr));
  }}
@include mix.breakpoint('desktop') {
  .grid {
    grid-template-columns: repeat(6, minmax(200px, 1fr));
  }}