@use '~styles/mixins' as mix;

.films {
  composes: container from global;
}
.loader-wrapper {
  position: absolute;
  right: 0; left: 0; 
  margin-top: 8rem;
  display: flex;
  justify-content: center;
}
.button {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}