@use '~styles/mixins' as mix;
@use '~styles/var';

.user-header {
  @include mix.container;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  padding: 1em 0;
  width: 100%;
  background-color: var.$secondary-background;

}
.row {
  display: flex;
  align-items: center;
  gap: .5em;
}
.img {
  width: 40px;
  height: 40px;
  border: 1px var.$white solid;
  border-radius: 100%;
}
.username {
  font-size: 1.5rem;
  font-weight: 500;
}
.register-date {
  display: flex;
  gap: .3em;
}


@media screen and (max-width: 370px) {
  .user-header { gap: .8em; }
  .register-date {
    gap: .4em;
    align-items: center;
    flex-direction: column;
  }}
@include mix.breakpoint('tablet') {
  .user-header {
    padding: 1em 3em;
    width: fit-content;
    border-radius: 10px;
  }
  .username {
    font-size: 1.75rem;
    font-weight: 600;
  }}
@include mix.breakpoint('laptop') {
  .username {
    font-size: 2.05rem;
    font-weight: 700;
  }}