@use '~styles/mixins' as mix;

.toast {
  position: fixed;
  display: block;
  bottom: 0;
  left: 50%;
  display: flex;
  flex-direction: column;
  transform: translateX(-50%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@include mix.breakpoint('tablet') {

}