@use '~styles/var';
@use '~styles/mixins' as mix;

$text-gap: 1.5rem;

.proposal {
  @include mix.container;
  margin-top: 3rem;
  & h1 {
    @include mix.h2;
    margin-bottom: $text-gap;
  }
  & h2 {
    @include mix.h5;
    margin-bottom: $text-gap;
  }
  p {
    @include mix.p;
    margin-bottom: $text-gap;
    & span {
      color: var.$primary;
    }}
  & .slot-selector {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    & label {
      @include mix.h5;
    }
    & span {
      font-style: italic;
      font-size: .9rem;
      margin-top: -.8rem;
    }
    & select {
      width: fit-content;
      border: none;
      background-color: var.$secondary-background;
      color: var.$white;
      padding: 0.3em 1em;
      border-radius: 4px;
      & option {
        color: var.$white;
        font-weight: 600;
      }}}
  & .search-form {
    display: flex;
    margin: 0em auto 1em auto;
    align-items: center;
    gap: 1.5em;
    & button {
      background-color: var.$primary;
      color: var.$background;
      padding: 1rem 1.5rem;
      border-radius: 20px;
      border: none;
      box-shadow: inset 0px -2px 3px rgba(48, 48, 48, 0.25);
      user-select: none;
      cursor: pointer;
      & path {
        fill: var.$background;
      }}}}

.error-401 {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  letter-spacing: 0.03rem;
  text-align: center;
  & a {
    display: inline-block;
    font-weight: 600;
    color: var.$primary;
    margin-top: .5rem;
  }
}
    
.grid {
  background-color: var.$secondary-background;
}
.button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2em;
}
.title {
  @include mix.h5;
  margin: 2em auto 1em auto;
}
.text {
  margin: 1em auto;
  @include mix.p;
   & span {
     color: var.$primary
    }
  }
.input { 
  margin-bottom: 2em;
  display: flex;
  box-sizing: border-box;
  background-color: var.$secondary-background;
  border: none;
  color: var.$white;
  width: 100%;
  max-width: 100%;
  padding: 1em;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 500;
  resize: none;
}

@include mix.breakpoint('tablet') {
  .search-form {
    justify-content: flex-start;
    & div {
      max-width: 500px;
    }}}