@use '~styles/var';
@use '~styles/mixins' as mix;

.button {
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 14px;
  vertical-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
  border: none;
  padding: 0.8em 1.5em;
  box-shadow: inset 0px -2px 3px rgba(48, 48, 48, 0.25);
  user-select: none;
}
.button:hover {
  cursor: pointer;
}
.button--full {
  background-color: var.$primary;
  color: var.$background;
}
.button--empty {
  color: var.$white;
  border: 1px solid var.$primary;
  background-color: transparent;
}
.button--rounded {
  border-radius: 50px;
  padding: 0.6em 1.3em !important;
}
.button--white {
  background-color: var.$white;
}

@include mix.breakpoint('tablet') {
  .button { 
    padding: 0.9em 1.7em;
  }
  .button--rounded { 
    padding: 0.7em 1.5em !important;
  }
}

@include mix.breakpoint('desktop') {
  .button { 
    padding: 1em 1.9em;
  }
  .button--rounded { 
    padding: 0.8em 1.7em !important;
  }
}