@use '~styles/var';

$radio-size: 1.5em;
$radio-input-color: var.$primary;
$radio-input-clip-path: polygon(37% 63%, 12% 32%, 1% 61%, 38% 100%, 100% 24%, 88% 0);

.input-radio {
  display: flex;
  cursor: pointer;
  & .input {
    -webkit-appearance: none;
    appearance: none;
    place-content: center;
    display: grid;
    width: $radio-size;
    height: $radio-size;
  }
  & .input::before {
    content: '';
    width: calc($radio-size * 0.65);
    height: calc($radio-size * 0.65);
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    margin-left: 2.5rem;
    box-shadow: inset $radio-size $radio-size $radio-input-color;
    -webkit-clip-path: $radio-input-clip-path;
    clip-path: $radio-input-clip-path;
  }
  & .input:checked::before {
    transform: scale(1);
  }}