@use '~styles/var';

$star-input-unchecked: url("data:image/svg+xml,%3Csvg width='24' height='23' viewBox='0 0 24 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0742 2.13299C11.3941 1.289 12.6051 1.289 12.9261 2.13299L14.996 7.8669C15.0682 8.05369 15.1954 8.21418 15.3607 8.32719C15.526 8.4402 15.7217 8.50042 15.9219 8.49989H21.0087C21.9487 8.49989 22.3587 9.66988 21.6197 10.2429L17.9999 13.4998C17.8377 13.6245 17.7192 13.7973 17.6614 13.9935C17.6035 14.1896 17.6093 14.3991 17.6779 14.5918L18.9998 20.1947C19.3218 21.0947 18.2798 21.8677 17.4919 21.3137L12.5751 18.1937C12.4067 18.0754 12.2059 18.0119 12.0001 18.0119C11.7943 18.0119 11.5935 18.0754 11.4251 18.1937L6.50837 21.3137C5.7214 21.8677 4.67845 21.0937 5.00043 20.1947L6.32237 14.5918C6.39095 14.3991 6.39673 14.1896 6.33888 13.9935C6.28103 13.7973 6.16254 13.6245 6.00039 13.4998L2.38055 10.2429C1.64058 9.66988 2.05256 8.49989 2.99052 8.49989H8.0773C8.27758 8.50056 8.47334 8.4404 8.63869 8.32737C8.80403 8.21434 8.93116 8.05377 9.00325 7.8669L11.0732 2.13299H11.0742Z' fill='%238A8A92' stroke='%238A8A92' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
$star-unchecked: url("data:image/svg+xml,%3Csvg width='24' height='23' viewBox='0 0 24 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0742 2.13299C11.3941 1.289 12.6051 1.289 12.9261 2.13299L14.996 7.8669C15.0682 8.05369 15.1954 8.21418 15.3607 8.32719C15.526 8.4402 15.7217 8.50042 15.9219 8.49989H21.0087C21.9487 8.49989 22.3587 9.66988 21.6197 10.2429L17.9999 13.4998C17.8377 13.6245 17.7192 13.7973 17.6614 13.9935C17.6035 14.1896 17.6093 14.3991 17.6779 14.5918L18.9998 20.1947C19.3218 21.0947 18.2798 21.8677 17.4919 21.3137L12.5751 18.1937C12.4067 18.0754 12.2059 18.0119 12.0001 18.0119C11.7943 18.0119 11.5935 18.0754 11.4251 18.1937L6.50837 21.3137C5.7214 21.8677 4.67845 21.0937 5.00043 20.1947L6.32237 14.5918C6.39095 14.3991 6.39673 14.1896 6.33888 13.9935C6.28103 13.7973 6.16254 13.6245 6.00039 13.4998L2.38055 10.2429C1.64058 9.66988 2.05256 8.49989 2.99052 8.49989H8.0773C8.27758 8.50056 8.47334 8.4404 8.63869 8.32737C8.80403 8.21434 8.93116 8.05377 9.00325 7.8669L11.0732 2.13299H11.0742Z' fill='%238A8A92' stroke='%238A8A92' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
$star-checked: url("data:image/svg+xml,%3Csvg width='24' height='23' viewBox='0 0 24 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0742 2.13299C11.3941 1.289 12.6051 1.289 12.9261 2.13299L14.996 7.8669C15.0682 8.05369 15.1954 8.21418 15.3607 8.32719C15.526 8.4402 15.7217 8.50042 15.9219 8.49989H21.0087C21.9487 8.49989 22.3587 9.66988 21.6197 10.2429L17.9999 13.4998C17.8377 13.6245 17.7192 13.7973 17.6614 13.9935C17.6035 14.1896 17.6093 14.3991 17.6779 14.5918L18.9998 20.1947C19.3218 21.0947 18.2798 21.8677 17.4919 21.3137L12.5751 18.1937C12.4067 18.0754 12.2059 18.0119 12.0001 18.0119C11.7943 18.0119 11.5935 18.0754 11.4251 18.1937L6.50837 21.3137C5.7214 21.8677 4.67845 21.0937 5.00043 20.1947L6.32237 14.5918C6.39095 14.3991 6.39673 14.1896 6.33888 13.9935C6.28103 13.7973 6.16254 13.6245 6.00039 13.4998L2.38055 10.2429C1.64058 9.66988 2.05256 8.49989 2.99052 8.49989H8.0773C8.27758 8.50056 8.47334 8.4404 8.63869 8.32737C8.80403 8.21434 8.93116 8.05377 9.00325 7.8669L11.0732 2.13299H11.0742Z' fill='%23FC9A3F' stroke='%23FC9A3F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
$star-size: 18px;
$star-gap: .5rem;
$star-unchecked-box-shadow-value: inset $star-size $star-size var.$input-text;
$star-checked-box-shadow-value: inset $star-size $star-size var.$primary;
.input-star {
  display: flex;
  // Invert direction for input's previous sibling selection on hover
  flex-direction: row-reverse;
  gap: $star-gap;
  & .input {
    // Reset default CSS
    -webkit-appearance: none;
    appearance: none;
    margin: 0; padding: 0;
    // Main CSS
    cursor: pointer;
    height: $star-size;
    width: $star-size;
    background-image: $star-input-unchecked;
    background-size: cover;
    &:hover, &:checked {
      background-image: $star-checked;
      & ~ input {
        background-image: $star-checked;
      }}}
  & .star {
    height: $star-size;
    width: $star-size;
    background-image: $star-unchecked;
    background-size: cover;
    &--checked {
      background-image: $star-checked;
    }}}