@use '~styles/mixins' as mix;

.last-movies {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.last-movies button:nth-last-child(1) {
  align-self: flex-end;
}
.last-movies__title {
  @include mix.h3;
}
.last-movies__grid {
  display: grid;
  gap: .5em;
  grid-template-columns: repeat(3, 1fr);
}
.poster {
  border-radius: 10px;
  overflow: hidden;
}
.poster:nth-child(4),
.poster:nth-child(5) {
  display: none;
}
.poster__img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

@include mix.breakpoint('tablet') {
  .last-movies__title {
    //@include mix.h2;
  }
}
@include mix.breakpoint('laptop') {
  .last-movies__title {
    //@include mix.h2;
  }
  .last-movies__grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .poster:nth-child(4) {
    display: block;
  }
}
@include mix.breakpoint('desktop') {
  .last-movies__title {
    @include mix.h2;
  }
  .last-movies__grid {
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
  }
  .poster:nth-child(5) {
    display: block;
  }
}