@use '~styles/mixins' as mix;
@use '~styles/var';

.filters {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin: 2em 0;
  & button {
    width: fit-content;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: var.$white;
  }
}
.search-bar {
  max-width: 400px;
}
    
@include mix.breakpoint('tablet') {
  .filters {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .filters-search-bar {
    width: 320px;
  }
}
@include mix.breakpoint('laptop') {
  .filters-search-bar {
    width: 420px;
  }
}