@use '~styles/mixins' as mix;
@use '~styles/var';

.title {
  @include mix.h3;
}

.add-comment {
  background: #4D4D66;
  padding: 1em;
  border-radius: 10px;
  margin: 2em 0;
}

.profil {
  display: flex;
  flex-direction: row;
  gap: 0.7em;
  margin-bottom: 1em;
}

.picture {
  border: 2px solid var.$white;
  display: inline-block; 
  position: relative; 
  width: 50px; 
  height: 50px; 
  overflow: hidden; 
  border-radius: 50%;
}

.pic {
  border-radius: 100%;
  width: auto; 
  height: 175%; 
  margin-left: -20px;
  margin-top: -15px;
}

.box {
  padding-top: 0.3em;
}

.name {
  padding-bottom: 0.5em;
  @include mix.h5;
}

.date {
  font-size: 10px;
  font-weight: 700;
}

.form {
  width: 100%;
}

.textarea {
  width: 100%;
  height: 20em;
  border: 0.5em solid #ffffff00;
  font-size: 1em;
  color: white;
  background: #202029;
  resize: none;
  margin: 0.5em 0;
  overflow-y: auto;
  box-sizing: border-box;
  font-family: inherit;
}

.textarea::-webkit-scrollbar {
  width: 0.8em;
}

.textarea::-webkit-scrollbar-track {
  background: white;
  border-radius: 1em;
}

.textarea::-webkit-scrollbar-thumb {
background: #8A8A92;
border: 2px solid white;
border-radius: 1em;
background-clip: padding-box;
}

.submit {
  text-align: right;
}