@use '~styles/mixins' as mix;
@use '~styles/var';


.comment {
  background: #565676;
  padding: 1em;
  border-radius: 10px;
  margin: 2em 0;
  // FIXME: Float lol  
  & button {
    float: right;
  }
}

.profil {
  display: flex;
  flex-direction: row;
  gap: 0.7em;
  margin-bottom: 1em;
}

.picture {
  border: 2px solid var.$white;
  display: inline-block; 
  position: relative; 
  width: 50px; 
  height: 50px; 
  overflow: hidden; 
  border-radius: 50%;
}

.pic {
  border-radius: 100%;
  width: auto; 
  height: 175%; 
  margin-left: -20px;
  margin-top: -15px;
}
.pic__default {
  height: 100%;
}

.box {
  padding-top: 0.3em;
}

.name {
  padding-bottom: 0.5em;
  @include mix.h5;
}

.date {
  font-size: 10px;
  font-weight: 700;
}

.note {
  composes: star-rating-container from global;
}
