@use '~styles/mixins' as mix;

.content {
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  display: flex;
  gap: 1rem;
  // flex-wrap: wrap;
  // align-items: start;
  margin-bottom: 1em;
}

.poster {
  width: 80%;
  border: 2px solid transparent;
  background-clip: padding-box;
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  margin: 0 auto 1.5rem;
  &::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -2px; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(30.76deg, rgba(0, 0, 0, 0) 34.12%, #FC9A3F 86.37%);
  }
}

.img {
  max-width: 100%;
  border-radius: 10px;
}

@media (min-width: 430px) {
  .poster {
    width: 80%;
    max-width: 80%;
    margin: 0 auto 1em auto;
  }
}

@media (min-width: 640px) {
  .content {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .poster {
    width: 100%;
    max-width: 100%;
  }
  .wrapper {
    width: 45%;
    flex-direction: column;
  }
}

@include mix.breakpoint('laptop') {
  .description {
    padding-left: 3em;
  }
  .wrapper {
    flex: 2;
  }
}

@include mix.breakpoint('desktop') {
  //PARENT POSTER
  .wrapper {
    flex: 2;
  }
  .content {
    align-items: start;
  }
}