@use '~styles/mixins' as mix;

.content {
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}
.poster {
  width: 70%;
  & img {
    max-width: 100%;
  }
}

.img {
  max-width: 100%;
  border-radius: 10px;
}

.interactions {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  align-items: flex-end;
}

@media (min-width: 430px) {
  .poster {
    width: 80%;
    max-width: 80%;
    margin: 0 auto 1em auto;
  }
  .interactions {
    width:100%;
    max-width: 80%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 640px) {
  .content {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .interactions {
    max-width: 100%;
    width: 100%;
  }
  .poster {
    width: 100%;
    max-width: 100%;
  }
  .wrapper {
    width: 45%;
  }
}

@include mix.breakpoint('laptop') {
  .description {
    padding-left: 3em;
  }
  .wrapper {
    flex: 2;
  }
}

@include mix.breakpoint('desktop') {
  //PARENT POSTER
  .wrapper {
    flex: 2;
  }
}