@use '~styles/mixins' as mix;
@use '~styles/var';

// Poster & Interactions
.movie {
  margin: 2em auto;
}

.content {
  display: flex;
  gap: 2em;
  margin-bottom: 2.5em;
}

.poster {
  border-radius: 10px;
  position: relative;
  background: linear-gradient(50.76deg, rgba(0, 0, 0, 0) 44.12%, #FC9A3F 96.37%);
  padding: 2px;
}

.interactions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}

.img {
  max-width: 100%;
  border-radius: 10px;
}

//Description
.casting {
  display: flex;
  margin-top: 1em;
}

.cast {
  margin-right: 1.5em;
  text-transform: uppercase;
  color: #8A8A92;
  @include mix.p;
}

.title {
  @include mix.h3;
}

.year {
  font-size: 1rem;
  font-weight: 400;
  color: #8A8A92;
  margin-left: 0.5em;
}

.element {
  color: #8A8A92;
  text-transform: uppercase;
  margin-top: 1em;
  @include mix.p;
}

.elm {
  margin-left: 1em;
  text-transform: none;
  color: var.$white;
}

.elm--orange {
  color: var.$primary;
}


.elm--weight {
  font-weight: 400;
}

.list {
  margin-bottom: 0.8em;
}

// Presentation & Comment
.presentation {
  background: #393945;
  padding: 1em;
  border-radius: 10px;
  margin: 2em 0;
}

.profil {
  display: flex;
  flex-direction: row;
  gap: 0.7em;
  margin-bottom: 1em;
}

.box {
  padding-top: 0.3em;
}

.name {
  padding-bottom: 0.5em;
  @include mix.h5;
}

.date {
  font-size: 10px;
  font-weight: 700;
}

.text {
  font-weight: 400;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.5em;
}

.more {
  border: none;
  background: none;
  padding-left: inherit;
  font-weight: 700;
  font-size: 1em;
  color: var.$primary;
}

.button {
  text-align: center;
}

.picture {
  width: 15%;
  border: 2px solid var.$white;
  border-radius: 6em;
  overflow: hidden;
}

.pic {
  width: 100%;
}

.comment {
  background: #4D4D66;
  padding: 1em;
  border-radius: 10px;
  margin: 2em 0;
}

.textarea {
  width: 100%;
  height: 100px;
  border: none;
  font-size: 1em;
  color: white;
  background: #202029;
  resize: none;
  margin: 0.5em 0;
  overflow-y: scroll;
}

.submit {
  text-align: right;
}