@use '~styles/mixins' as mix;
@use '~styles/var' as var;

.desc {
  display: flex;
  flex-direction: column;
  & .wrapper {
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-bottom: 1em;
  }}

.poster {
  $border-radius: 8px;
  border-radius: $border-radius;
  & img {
    width: 100%;
    border-radius: $border-radius;
  }
  width: 80%;
  border: 2px solid transparent;
  background-clip: padding-box;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto 1.5rem;
  &::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(30.76deg, rgba(0, 0, 0, 0) 34.12%, #FC9A3F 86.37%);
  }
  @media (min-width: 430px) {
      width: 80%;
      max-width: 80%;
      margin: 0 auto 1em auto;
  }
  @media (min-width: 640px) {
      width: 100%;
      max-width: 100%;
  }}

.description {
box-sizing: border-box;
& h1 {
  @include mix.h3;
  & span {
    font-size: 1rem;
    font-weight: 400;
    color: #8A8A92;
    margin-left: 0.5em;
  }}
& .element {
  color: #8A8A92;
  text-transform: uppercase;
  margin-top: 1.5em;
  @include mix.p;
  & button {
    user-select: none;
  }
  & button:hover {
    cursor: pointer;
  }
  &--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & .elm {
    margin-left: 1em;
    text-transform: none;
    color: var.$white;
    &--orange {
      color: var.$primary;
    }
    &--weight {
      font-weight: 400;
    }}}
& .casting {
  display: flex;
  margin-top: 1.5em;
  & span {
    margin-right: 1.5em;
    text-transform: uppercase;
    color: #8A8A92;
    @include mix.p;
  }
  & li {
    margin-bottom: 0.8em;
  }}
& .star {
  font-size: 1.7em;
  letter-spacing: 0.2em;
}}

.interactions {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1.5rem;
  padding: .2rem 0 .2rem;
}
  
.presentation {
  background: #393945;
  padding: 1em;
  border-radius: 10px;
  margin: 2em 0;
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

@media (min-width: 640px) {
  .desc {
    flex-wrap: wrap;
    flex-direction: row;
    & .wrapper {
      width: 45%;
      flex-direction: column;
    }
  }
  .interactions {
    flex-direction: row;;
    max-width: 100%;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
  }
  .description {
    width: 55%;
    padding-left: 2em;
    box-sizing: border-box;
  }}
@include mix.breakpoint('tablet') {
  .interactions {
    flex-direction: row;
    justify-content: space-between;
  }}
@include mix.breakpoint('laptop') {
  .desc {
    & .wrapper {
      flex: 2;
    }}
  .description {
    padding-left: 3em;
  }}
@include mix.breakpoint('desktop') {
  .desc {
    align-items: start;
    & .wrapper {
      flex: 2;
    }}
  .presentation {
    flex: 2;
    align-self: start;
    min-width: auto;
    max-width: auto;
  }
  .description {
    flex: 3;
    padding-right: 3em;
  }}