@use '~styles/mixins' as mix;
@use '~styles/var';

.reviews {
  & h3 {
    @include mix.h3;
    margin: 1rem unset 1.5rem;
    text-align: center;
  }
  & .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
  }
  & .empty {
    text-align: center;
    margin: 1em 0;
  }
  & .comment {
    background: #565676;
    padding: 1em;
    border-radius: 10px;
    margin: 2em 0;
    & button {
      float: right;
    }}
  & .note {
    @include mix.star-rating-container;
  }}

.user {
  display: flex;
  flex-direction: row;
  gap: 0.7em;
  margin-bottom: 1em;
  & img {
    width: 50px;
    height: 50px;
    outline: 1px var.$white solid;
    border-radius: 100%;
  }
  & .box {
    padding-top: 0.3em;
    & .name {
      padding-bottom: 0.5em;
      @include mix.h5;
    }
    & .date {
      font-size: 10px;
      font-weight: 700;
    }}}

.post-review {
  background: #4D4D66;
  padding: 1em;
  border-radius: 10px;
  margin: 2em 0;
  & .form {
    position: relative;
    width: 100%;
    & .wrapper-loader {
      position: absolute;
      width: 100%;
      margin-top: 50px;
      display: flex;
      justify-content: center;
    }
  }
  & .textarea {
    width: 100%;
    height: 20em;
    border: 0.5em solid #ffffff00;
    font-size: 1em;
    color: white;
    background: #202029;
    resize: none;
    margin: 0.5em 0;
    overflow-y: auto;
    box-sizing: border-box;
    font-family: inherit;
    &::-webkit-scrollbar {
      width: 0.8em;
    }
    &::-webkit-scrollbar-track {
      background: white;
      border-radius: 1em;
    }
    &::-webkit-scrollbar-thumb {
      background: #8A8A92;
      border: 2px solid white;
      border-radius: 1em;
      background-clip: padding-box;
    }}
  & .submit {
    display: flex;
    justify-content: right;
    gap: 1rem;
  }}