@use '~styles/mixins' as mix;

.interactions-wrapper {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1.5rem;
  padding: .2rem 0 .2rem;
}


@include mix.breakpoint('tablet') {
  .interactions-wrapper{
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 640px) {
  .interactions-wrapper {
    flex-direction: row;;
    max-width: 100%;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
  }
}