@use '~styles/mixins' as mix;
@use '~styles/var';

.presentation {
  background: #393945;
  padding: 1em;
  border-radius: 10px;
  margin: 2em 0;
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.profil {
  display: flex;
  flex-direction: row;
  gap: 0.7em;
  margin-bottom: 1em;
}

.box {
  padding-top: 0.3em;
}

.name {
  padding-bottom: 0.5em;
  @include mix.h5;
}

.date {
  font-size: 10px;
  font-weight: 700;
}

.note {
  @include mix.star-rating-container;
}

.text {
  font-weight: 400;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.5em;
}

.more {
  border: none;
  background: none;
  padding-left: inherit;
  font-weight: 700;
  font-size: 1em;
  color: var.$primary;
}

.pic {
  width: 50px;
  height: 50px;
  outline: 1px var.$white solid;
  border-radius: 100%;
}

@include mix.breakpoint('desktop') {
  .presentation {
    flex: 2;
    align-self: start;
  }
}
@include mix.breakpoint('desktop') {
  .presentation {
    min-width: auto;
    max-width: auto;
  }
}