@use '~styles/mixins' as mix;

.toast {
  position: fixed;
  bottom: 0;
  left: 50%;
  background-color: lightcoral;
  padding: 1em;
  transform: translateX(-50%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@include mix.breakpoint('tablet') {

}