@use './var';
@use './mixins' as mix;

 
.h0 {
  font-size: 3rem;
  font-weight: 700;
}
.h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
.h2 {
  font-size: 2.05rem;
  font-weight: 700;
}
.h3 {
  font-size: 1.75rem;
  font-weight: 600;
}
.h4 {
  font-size: 1.45rem;
  font-weight: 600;
}
.h5 {
  font-size: 1.2rem;
  font-weight: 500;
}

.default-text {
  font-weight: 500 ;
  font-size: 1rem;
}

.input-text {
  font-size: 0.875rem;
  font-weight: 500;
}

.category-link {
  font-size: 0.750rem;
  font-weight: 500;
}


.container {
  padding-left: 1em;
  padding-right: 1em;
  @each $name, $value in var.$breakpoints {
    @include mix.breakpoint($name) {
      margin-left: auto;
      margin-right: auto;
      max-width: $value;
    }
  } 
}