@use '~styles/var';

.connection {
  margin: auto;
  width: 96%;
  & .button-container {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin-top: 30px;
  }
}

@media screen and (max-width: 380px) {
  .connection .button-container {
    flex-direction: column;
  }
}