@use '~styles/var';

.connection {
  margin: auto;
  & .button-container {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    margin-top: 30px;
    & button {
      white-space: nowrap;
    }
  }
}

@media screen and (max-width: 380px) {
  .connection .button-container {
    flex-direction: column;
  }
}