@use '~styles/var';

.container {
  display: flex;
  flex-direction: row;
  gap: .1em;
}
.star {
  user-select: none;
}
button.star {
  cursor: pointer;
}
.on {
  color: var.$primary;
}
.off {
  color: var.$secondary-background;
}
.off--alt {
  color: var.$input-text;
}
.active {
  color: var.$secondary;
}