@use '~styles/var';
@use '~styles/mixins' as mix;

.footer {
  transition: 1s;
  background-color: var.$secondary-background;
  & footer {
    padding: 1.7em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    @include mix.container;
    @include mix.category-link;
  }
  & svg {
    transform: scale(1.2);
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .9em;
  }
  .link {
    color: var.$primary;
    &:hover {
      text-decoration: underline;
    }}}

@include mix.breakpoint('laptop') {
  .footer {
    & .links,
    .copyright {
      font-size: 16px;
    }}}