@use '~styles/mixins' as mix;
@use '~styles/var';

.nav-mobile {
  background: none;
  border: none;
  position: relative;
}
.nav {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  z-index: 67;
  & .links {
    background-color: var.$secondary-background;
    border-radius: 10px;
    margin: 0 1em;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.35);
  }
  & .link {
    padding: 0.8em 1em;
    border-bottom: 1px solid var.$white;
    & a {
      display: inline-block;
      width: 100%;
      padding: 0.5em 0;
      text-decoration: none;
      color: var.$white;
    }}
  & .link:last-child {
    border-bottom: none;
  }}

@include mix.breakpoint('tablet') {
  .nav-mobile {
    display: none;
  }}