@use '~styles/var';

.modal-background {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  background-color: var.$background;
  width: 26em;
  border-radius: 10px;
}