@use '~styles/mixins' as mix;
@use '~styles/var';

.header {
  composes: container from global;
  padding: .5em 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.img {
  width: 10rem;
}
.nav {
  letter-spacing: .04rem;
  display: none;
  align-items: center;
  gap: 1em;
}
.nav-mobile {
  background: none;
  border: none;
}


.link {
  color: var.$white;
}
.dot {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: var.$primary;
}

@include mix.breakpoint('tablet') {
  .nav {
    display: flex;
  }
  .nav-mobile {
    display: none;
  }
  .img {
    width: 12.5rem;
  }
}
@include mix.breakpoint('laptop') {
  .img {
    width: 13.4rem;
  }
}