@use '~styles/mixins' as mix;
@use '~styles/var';

.header {
  composes: container from global;
  padding: .5em 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.mobile-sentence { display: none; }
.desktop-sentence { display: block; }

.logo {
  display: flex;
  align-items: center;
  gap: 1.5em;
  & svg {
    margin-left: 1.1rem;
    transform: scale(1.22);
  }
}
.img {
  width: 12rem;
}
.nav {
  letter-spacing: .04rem;
  display: none;
  align-items: center;
  gap: 1em;
}
.nav-mobile {
  background: none;
  border: none;
}


.link {
  color: var.$white;
}
.link:hover {
  color: var.$primary;
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: var.$primary;
}

@media screen and (max-width: 370px) {
  .img { width: 10rem; }
}
@media screen and (max-width: 300px) {
  .img { width: 8rem; }
}
@media screen and (max-width: 450px) {
  .header button {
    content:'Connexion';
    font-size: 14px;
    padding: .7em;
    & span.mobile-sentence { display: block; }
    & span.desktop-sentence { display: none; }
  }
  .logo { gap: .5em; }
}
@include mix.breakpoint('tablet') {
  .nav {
    display: flex;
  }
  .nav-mobile {
    display: none;
  }
  .img {
    width: 12.5rem;
  }
}
@include mix.breakpoint('laptop') {
  .img {
    width: 14rem;
  }
}