@use '~styles/mixins' as mix;
@use '~styles/var';

.header {
  padding: .5em 0;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.header__logo__img {
  width: 10rem;
}
.header__nav {
  composes : default-text from global;
  letter-spacing: .04rem;
  display: none;
  align-items: center;
  gap: 1em;
}
.header__nav-mobile {
  background: none;
  border: none;
}

.link {
  color: var.$white;
}
.dot {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: var.$primary;
}

@include mix.breakpoint('tablet') {
  .header__nav {
    display: flex;
  }
  .header__nav-mobile {
    display: none;
  }
  .header__logo__img {
    width: 12.5rem;
  }
}
@include mix.breakpoint('laptop') {
  .header__logo__img {
    width: 13.4rem;
  }
}