@use '~styles/mixins' as mix;
@use '~styles/var';

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin: 4rem auto;
  & h1, h2 {
    @include mix.container;
    text-align: center;
  }
  & h1 {@include mix.h2;}
  & h2 {@include mix.h4;}
  & .header {
    @include mix.container;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    padding: 1em 0;
    width: 100%;
    background-color: var.$secondary-background;
    & .row {
      display: flex;
      align-items: center;
      gap: .5em;
      & img {
        width: 40px;
        height: 40px;
        border: 1px var.$white solid;
        border-radius: 100%;
      }
      & .username {
        @include mix.h4;
      }}
    & .date {
      display: flex;
      gap: .3em;
    }}}

@media screen and (max-width: 370px) {
  .user {
    & .header {
      gap: .8em;
      & .date {
        gap: .4em;
        align-items: center;
        flex-direction: column;
      }}}}
@include mix.breakpoint('tablet') {
  .user {
    & .header {
      padding: 1em 3em;
      width: fit-content;
      border-radius: 10px;
      & .row {
        & .username {
          @include mix.h3;
        }}}}}
@include mix.breakpoint('laptop') {
  .user {
    & .header {
      & .row {
        .username {
          @include mix.h2;
        }}}}}