@use '~styles/mixins' as mix;
@use '~styles/var';

.user-submitted {
  padding: 1em 0;
  background-color: var.$secondary-background;
  width: 100%;

  & button {
    width: fit-content;
  }
}
.no-film-submitted {
  @include mix.container;
  display: flex;
  flex-direction: column;
    align-items: center;
    gap: 2em;
    & p { @include mix.breakpoint('tablet') {
            font-size: 1.2rem;
          }}
    & span {
      color: var.$primary
    }
  }
.pending-proposal {
  @include mix.container;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.film {
  box-sizing: border-box;
  width: 100%;
  background-color: var.$background;
  border-radius: 10px;
  padding: 1em;
  display: grid;
  gap: .5em;
  grid-template-columns: (1fr 1fr 120px);
  grid-template-areas: 
    "title title cover"
    "direc direc cover"
    "genre genre cover"
    "pDate pDate pDate";
  & .grid-title { 
    grid-area: title; 
    align-self: start;
  }
  & .grid-direc { 
    grid-area: direc; 
    align-self: start;
  }
  & .grid-genre { 
    grid-area: genre; 
    align-self: start;
  }
  & .grid-pDate { 
    grid-area: pDate; 
    align-self: end;
  }
  & .grid-cover { 
    grid-area: cover; 
  }
}
.publish-date {
  color: var.$white;
  font-weight: 400;
}
.cover {
  border-radius: 10px;
  overflow: hidden;
  & img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
  }
}
@media screen and (min-width: 485px) {
  .film {
    grid-template-columns: (1fr 1fr 150px);
    grid-template-areas: 
    "title title cover"
    "direc direc cover"
    "genre genre cover"
    "pDate pDate cover";
  }
}
@media screen and (min-width: 560px) {
  .film {
    max-width: 760px;
    grid-template-columns: (1fr 1fr 1fr 170px);
    grid-template-areas: 
    "title title . cover"
    "direc direc . cover"
    "genre genre . cover"
    "pDate pDate . cover";
    & .grid-direc { 
      align-self: center;
    }
    & .grid-genre { 
      align-self: center;
    }
  }
}
@include mix.breakpoint('laptop') {
  .film {
    grid-template-columns: (1fr 1fr 1fr 210px);
    & span {
      font-size: 1.2rem;
    }
  }
}