@use '~styles/var';
@use '~styles/mixins' as mix;

.hero {
  composes: container from 'styles/index.scss';
  margin: 5em auto 6em auto;
  & span {
    color: var.$primary;
  }
  @include mix.breakpoint('desktop') {
    display: flex;
  }
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include mix.breakpoint('desktop') {
    width: 50%;
  }
}
.img {
  display: none;
  text-align: right;
  & img {
    max-width: 85%;
    border-radius: 10px;
    outline: 4px solid #2D2F37;
    box-shadow: 4.88426px 2.93056px 11.7222px rgba(0, 0, 0, 0.15);
  }
}
.title {
  @include mix.h1;
  padding-bottom: .8em;

}
.subtitle {
  @include mix.h4;
  padding-bottom: 2em;
}
.buttons {
  display: flex;
  gap: 1em;
}

@include mix.breakpoint('tablet') {
  .buttons {
    gap: 2em;
  }
  .hero {
    margin: 7em auto 7em auto;
  }
}
@include mix.breakpoint('desktop') {
  .hero {
    margin: 7em auto 8.5em auto;
  }
  .title {
    @include mix.h0;
  }
  .subtitle {
    @include mix.h3;
  }
  .img {
    width: 50%;
    display: block;
  }
}
