@use '~styles/var';
@use '~styles/mixins' as mix;

.join {
  margin: 4em auto;
  background-color: var.$secondary-background;
}

.wrapper {
  @include mix.container;
  padding-top: 2em;
  padding-bottom:  2em;
}

.text {
  display: flex;
  gap: 10px;
  margin-bottom: 1.5em;
  & span {
    @include mix.h4;
  }
}

.wrapper a {
  width: fit-content;
}

@media (max-width: 550px) {
  .text {
    flex-direction: column;
  }
}


@include mix.breakpoint('tablet') {
  .wrapper {
    padding-top: 3em;
    padding-bottom:  3em;
  }
  .text {
    display: flex;
    flex-direction: row;
    gap: 10px;
    & span {
      @include mix.h3;
    }
  }
}