@use '~styles/var';
@use '~styles/mixins' as mix;

.grid {
  composes: container from global;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var.$secondary-background;
  margin: 1em auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  width: calc(100% - 2em);
  overflow-y: auto;
  height: 585px;
  border: 0.5em solid #ffffff00;
  border-left: none;
}

.grid::-webkit-scrollbar {
  width: 0.8em;
}

.grid::-webkit-scrollbar-track {
  background: white;
  border-radius: 1em;
}

.grid::-webkit-scrollbar-thumb {
background: #8A8A92;
border: 2px solid white;
border-radius: 1em;
background-clip: padding-box;
}
.empty {
  padding: 1em;
}

@include mix.breakpoint('tablet') {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@include mix.breakpoint('desktop') {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}