@use '~styles/var';

.user-params {
  composes: container from global;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  & button {
    width: fit-content;
    margin-top: .5em;
    align-self: end;
    display: flex;
    gap: .5em;
  }
}
.action {
  margin-bottom: 1em;
}
.user-info {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin-bottom: 2em;
}
.info {
  text-transform: initial;
  color: var.$white;
}
.rules {
  font-size: .8em;
  font-style: italic;
  line-height: 1.2em;
  margin-top: -10px;
  padding: 0 .5em;
}

@media screen and (min-width: 560px) {
  .user-params {
    max-width: 760px;
  }
}