@use '~styles/var';
@use '~styles/mixins' as mix;

.user-params {
  composes: container from global;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  & button {
    width: fit-content;
    align-self: center;
    display: flex;
    gap: .5em;
  }}
.user-info {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin-bottom: 2em;
}
.info {
  text-transform: initial;
  color: var.$white;
}
.rules {
  display: block;
  font-size: .8em;
  font-style: italic;
  line-height: 1.2em;
  margin-top: -10px;
  padding: 0 .5em;
}
.field {
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  & .input {
    width: 400px;
  }
  & .rules {
    margin: 0 0 -10px 0;
  }
  & .buttons {
    margin-top: .8rem;
    display: flex;
    justify-content:flex-start;
    gap: 1rem;
  }}
.upload-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;
  width: 100%;
  & .buttons {
    margin-top: .8rem;
    display: flex;
    gap: 1rem;
  }
  & .preview {
    max-width: 25rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    & img {
      width: 100px;
      height: 100px;
      border: 1px var.$white solid;
      border-radius: 100%;
    }}}