@use '~styles/var';
@use '~styles/mixins' as mix;

.user-params {
  composes: container from global;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  & button {
    width: fit-content;
    margin-top: .5em;
    align-self: center;
    display: flex;
    gap: .5em;
  }}
.action {
  margin-bottom: 1em;
}
.user-info {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin-bottom: 2em;
}
.info {
  text-transform: initial;
  color: var.$white;
}
.rules {
  font-size: .8em;
  font-style: italic;
  line-height: 1.2em;
  margin-top: -10px;
  padding: 0 .5em;
}
.upload-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;
  width: 100%;
  & .preview {
    display: flex;
    align-items: center;
    gap: 1rem;
    & img {
      width: 100px;
      height: 100px;
      border: 1px var.$white solid;
      border-radius: 100%;
    }}
}

@media screen and (min-width: 560px) {
  .user-params {
    max-width: 760px;
  }}