@use '~styles/var';
@use '~styles/mixins' as mix;

@keyframes slide {
  from { right: -300px; }
  to { right: 0px; }
}
@keyframes slideReversed {
  from { left: -300px; }
  to { left: 0px; }
}
.loader {
  width: 10%;
  display: inline-block; 
  & div {
    height: 15px;
    transform: translate(-35px, -20px) scale(0.6);
  }
}

.background {
  position: fixed;
  left: 0; top: 0; bottom: 0; right: 0;
}
.wrapper, .star-menu{
  background-color: var.$secondary-background;
  border: none;
  color: var.$white;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  padding: 10px 16px;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
}
.wrapper {
  position: relative;
  flex-direction: column;
  gap: 4px;
  z-index: 9999;
  border-radius: 10px;
  margin-top: 10px;
  max-width: 55px;
  min-width: 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -2px 0px #FC9A3F;
}
.wrapper-star-menu {
  box-sizing: border-box;
  overflow: hidden;
  top: -3px;
  right: 46px;
  height: 73px;
  width: 400%;
  position: absolute;
  z-index: 2;
  & .star-menu {
    overflow: hidden;
    position: absolute;
    top: 3px;
    border-radius: 10px 0 0 10px;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25), 0px -2px 0px #FC9A3F;
    & div { gap: .5em; }
    & button { font-size: 34px; }
  }
}
.hidden {
  display: none;
}
.is-closed { right: -300px; }
.is-open { right: 0px; }
.is-opening {
  animation: .5s slide;
  -webkit-animation: .5s slide ; 
}
.is-closing { 
  animation: .5s slide reverse;
  -webkit-animation: .5s slide reverse;
}

.active {
  path {
    fill: var.$white;
  }
  box-shadow: 0px -2px 0px #FC783F, inset 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}


@media screen and (min-width: 640px) {
  .wrapper-star-menu {
    right: 0px;
    left: 46px;
    & .star-menu {
      border-radius: 0 10px 10px 0;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), 0px -2px 0px #FC9A3F;
    }
  }
  .is-closed { 
    right: unset; 
    left: -300px; 
  }
  .is-open { 
    right: unset; 
    left: -2px; 
  }
  .is-opening {
    animation: .5s slideReversed;
    -webkit-animation: .5s slideReversed ; 
  }
  .is-closing { 
    animation: .5s slideReversed reverse;
    -webkit-animation: .5s slideReversed reverse;
  }
}
@include mix.breakpoint('tablet'){
  .wrapper {
    max-width: 62px;
    min-width: 62px;
  }
}
@include mix.breakpoint('desktop'){
  .wrapper {
    max-width: 70px;
    min-width: 70px;
  }
  .wrapper-star-menu {
    left: 46px;
  }
}