@use '~styles/mixins' as mix;
@use '~styles/var';

$border-radius: 15px;
$border-color: var.$primary;
$padding: .7rem;
$transition: .3s;

.search-bar {
  position: relative;
  display: flex;
  width: 100%;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  font-size: .9rem;
  & button {
    color: var.$white;
    width: fit-content;
    user-select: none;
    font-weight: 500;
    white-space:nowrap;
    border-radius: $border-radius;
    background-color: var.$secondary-background;
    padding: $padding;
    transition: $transition;
    cursor: pointer;
    &:hover {
      transition: $transition;
      color: var.$primary;
    }}
  & input[type='text'] {
    width: 100%;
    border-radius: $border-radius;
    padding: $padding $padding $padding 0;
    margin-left: .7rem;
    padding-left: 1.7rem;
    background: url('FilterSearchBar.search.svg');
    background-position: left center;
    background-repeat: no-repeat;
  }
  & fieldset {
    top: calc(calc($padding * 3) + 1rem);
    width: 220px;
  }
}

@include mix.breakpoint('tablet') {
  .search-bar {
    width: 450px;
    font-size: 1rem;
  }}