@use '~styles/mixins' as mix;
@use '~styles/var';

.user {
  &--info {
    display: flex;
    flex-direction: row;
    gap: 0.7em;
    margin-bottom: 1em;
  }
  & img {
    width: 50px;
    height: 50px;
    outline: 1px var.$white solid;
    border-radius: 100%;
  } 
  & .box {
    padding-top: 0.3em;
    & .name {
      padding-bottom: 0.5em;
      @include mix.h5;
    }
    & .date {
      font-size: 10px;
      font-weight: 700;
    }}}