@use '~styles/var';
@use '~styles/mixins' as mix;

.upper {
  background-color: var.$secondary-background;
}
.footer {
  composes: container from global;
  padding: 1.7em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  @include mix.category-link;
}
.img {
  width: 9.875rem;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .9em;
}

.link {
  color: var.$primary;
}

@include mix.breakpoint('laptop') {
  .links,
  .copyright {
    font-size: 16px;
  }
  .img {
    width: 14rem;
  }
}