@use '~styles/var';
@use '~styles/mixins' as mix;
@use 'sass:color';

.movie {
  background-color: var.$background;
  border-radius: 10px;
  padding: 1em;
  display: flex;
  transition: 0.2s;
}
.selected {
  background-color: rgba($color: var.$secondary, $alpha: 1);
  color: var.$background;
}
.img {
  flex:1 ;
  & img {
    max-width: 100%;
  }
}
.img--no-poster-url {
  align-self: center;
}
.description {
  flex:4 ;
}
.title {
  @include mix.h4;
  margin-bottom: 1em;
}
.rea, .genres {
  margin: 16px 0;
}