@use '~styles/mixins' as mix;
@use '~styles/var';

.drop-down-menu {
  position: absolute;
  top: 3em;
  left: var.$container-padding; right: var.$container-padding;
  border-radius: 2px;
  background-color: var.$secondary-background;
  padding: 0 1.5em;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.25);
  user-select: none;
}

@include mix.breakpoint('tablet') {
  .drop-down-menu {
    right: 50%;
  }
}
@include mix.breakpoint('laptop') {
  .drop-down-menu {
    right: 60%;
  }
}
@include mix.breakpoint('desktop') {
  .drop-down-menu {
    right: 70%;
  }
}

.fieldset, .fieldset-tags {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  border-bottom: var.$white 1px solid;
  & label, button {
    height: 3em;
    display: flex;
    align-items: center;
  }
  & label:hover {
    cursor: pointer;
  }
  & label input {
    margin-left: 2em;
  }
  & button {
    gap: 3rem;
    // width: 55%;
    // justify-content: space-between;
  }
  & li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
  }
}
.fieldset-tags {
  padding: 0;
  border: none;
  & li {
    margin-left: 2em;
  }
}
.fieldset-element {
  letter-spacing: .04rem;
  &:hover {
    cursor: pointer;
  }
}
.fieldset-reset {
  position: absolute;
  cursor: pointer;
  top: 1.75em;
  right: 1.5em;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .04em;
  padding: .5em;
  & img {
    width: 2em;
  }
}
.fieldset-reset--hidden {
  display: none;
}

$checkbox-size: 1em;
$checkbox-input-background-color: var.$background;
$checkbox-input-color: var.$secondary;
$checkbox-input-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
$radio-size: 1.5em;
$radio-input-color: var.$primary;
$radio-input-clip-path: polygon(37% 63%, 12% 32%, 1% 61%, 38% 100%, 100% 24%, 88% 0);
$range-thumb-size: 1em;
$range-thumb-color: var.$secondary;
$range-thumb-radius: 100%;
$range-slide-thickness: 4px;
$range-slide-color: var.$secondary;
$range-slide-radius: 50px;
$range-slide-width: 100%;

.fieldset-date {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1rem 0 2rem;
  & .input-container {    
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .slider {
      position: absolute;
      background: $range-slide-color;
      border-radius: $range-slide-radius;
      height: $range-slide-thickness;
      right: 3.5em;
      left: 3.5em;
    }
    & .value {
      width: 2.5rem;
    }
  }
}
input[type='range'] {
  position: absolute;
  height: 0;
  width: $range-slide-width;
  outline: none;
  pointer-events: none;
}
/* CHROME */
input[type='range']::-webkit-slider-thumb {
  background-color: $range-thumb-color;
  border-radius: $range-thumb-radius;
  cursor: pointer;
  height: $range-thumb-size;
  width: $range-thumb-size;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
/* FIREFOX */
input[type='range']::-moz-range-thumb {
  background-color: $range-thumb-color;
  border: none;
  border-radius: $range-thumb-radius;
  cursor: pointer;
  height: $range-thumb-size;
  width: $range-thumb-size;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
/* RESET */
input[type='range'],
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: $checkbox-input-background-color;
  place-content: center;
  margin: 0;
  border-radius: 2px;
  font: inherit;
  margin-right: .5em;
  display: grid;
  width: $checkbox-size;
  height: $checkbox-size;
}
input[type='checkbox']::before {
  content: '';
  width: calc($checkbox-size * 0.65);
  height: calc($checkbox-size * 0.65);
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: 
    inset 
    $checkbox-size 
    $checkbox-size 
    $checkbox-input-color;
  -webkit-clip-path: $checkbox-input-clip-path;
  clip-path: $checkbox-input-clip-path;

}
input[type='radio'] {
  -webkit-appearance: none;
  appearance: none;
  place-content: center;
  margin: 0;
  border-radius: 2px;
  font: inherit;
  margin-right: .5em;
  display: grid;
  width: $radio-size;
  height: $radio-size;
}
input[type='radio']::before {
  content: '';
  width: calc($radio-size * 0.65);
  height: calc($radio-size * 0.65);
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: 
    inset 
    $radio-size 
    $radio-size 
    $radio-input-color;
  -webkit-clip-path: $radio-input-clip-path;
  clip-path: $radio-input-clip-path;

}
input[type='radio']:checked::before,
input[type='checkbox']:checked::before {
  transform: scale(1);
}