@use '~styles/mixins' as mix;
@use '~styles/var';

.metrics {
  @include mix.container;
  margin: 5em auto;
}
.title {
  @include mix.h4;
  text-align: center;
  @include mix.breakpoint('tablet') {
    @include mix.h3;
  } 
  @include mix.breakpoint('tablet') {
    @include mix.h2;
  }}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 3em 0 0 0;
  @include mix.breakpoint('tablet') {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }}
.metric {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  &--purple {
    color: var.$purple;
  }
  &--yellow {
    color: var.$yellow;
  }
  &--green {
    color: var.$green;
  }}
.count {
  @include mix.h2;
  @include mix.breakpoint('tablet') {
      @include mix.h1;
  }}
.type {
  @include mix.h4;
  @include mix.breakpoint('tablet') {
      @include mix.h3;
  }}