@use '~styles/mixins' as mix;
@use '~styles/var';

.admin-panel {
  @include mix.container;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 1em 0;
  background-color: var.$secondary-background;
  width: 100%;
  & button {
    width: fit-content;
  }}
.proposal-form {
  padding: 1em 0;
  & .proposals-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }
  & .button-container {
    padding: 1em 0;
    display : flex;
    gap: 1em;
    justify-content: center;
  }
  & .proposal-container {
    background-color: var.$background;
    justify-content: space-between;
    padding: .5rem;
    display: flex;
    gap: 1em;
    border-radius: 10px;
    & .film-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
        font-size: 1rem;
        font-weight: 400;
      & .title {
        font-size: 1.2rem;
        font-weight: 500;
      }
      & button {
        font-size: .95rem;
        padding: .5em 1em !important;
      }}
    & .cover {
      border-radius: 10px;
      overflow: hidden;
      width: 100px;
      & img {
        width: 100%;
        height: 100%; 
        object-fit: cover;
      }}}}

.user-form {
  padding: 1em 0;
  width: 100%;
  background-color: var.$background;
  border-radius : 10px;
  & table {
    width: 100%;
  }
  & .table-case {
    text-align: left;
    padding: .5em 1em;
    & button {
      font-size: .95rem;
      white-space: nowrap;
      padding: .5em 1em !important;
    }}}

.proposal-container.selected {
  background-color: rgba($color: var.$secondary, $alpha: 1);
  color: var.$background;
  & button {
    background-color: var.$white;
    border: var.$white 1px solid;
    color: var.$background;
  }
}
