@use '~styles/mixins' as mix;
@use '~styles/var';

.error {
  @include mix.container;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 5rem auto;
  & h1 {
    @include mix.h3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4em;
  }
  & svg {
    transform: scale(.8);
    -webkit-transform: scale(.8);
  }
  & .content {
    margin: 3em 0;
    & span {
      color: var.$primary;
      margin: 0 .15rem;
    }}}

.last-movies {
  margin-bottom: 5rem;
  & a {
    width: 100%;
  }}
@media (min-width: 430px) {
  .last-movies {
    & a {
      width: fit-content;
    }}}

@include mix.breakpoint('tablet') {
  .error {
    & h1 {
      @include mix.h1
    }
    & svg {
      transform: scale(1);
      -webkit-transform: scale(1);
    }}}