@use '~styles/mixins' as mix;
@use '~styles/var';

.error {
  width: fit-content;
  margin: 5rem auto;
}
.error__title {
  display: flex;
  align-items: center;
  gap: .4em;
  font-size: 1.8rem;
  font-weight: 700;
}
.error__img {
  width: 4.5rem;
  height: 2.625rem;
}
.error__subtitle {
  color: var.$primary;
  margin-top: 2em;
}
.error__body {
  margin: 3em 0;
}
.pathname {
  color: var.$primary;
  margin: 0 .15rem;
}

@include mix.breakpoint('tablet') {
  .error__title {
    font-size: 3rem;
  }
  .error__img {
    width: 7.8rem;
    height: 4.17rem;
  }
}